*{
  margin: 5;
  padding: 5
}

.container{
  text-align: center;

 
}
.container2{
  text-align: left;
  margin: 100px;
}

body{
 background-color: #fff;


}

header{
  margin:100px;
  padding: 50px;
  background: url("../img/keyboard.jpg");

}

.card{
 
margin: 100px;
padding: 50px;
}
.container4{
  margin: 50px;
  padding: 50px;
  background- color: #fff; 
}

.container6{
  margin: 50px;
  padding: 50px;
}